name: Build App

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Create Simple App
      run: |
        echo "Building app..."
        mkdir app
        echo "<html><body><h1>Emad App</h1></body></html>" > app/index.html
        zip -r app.zip app/
    
    - uses: actions/upload-artifact@v3
      with:
        name: my-app
        path: app.zip
